PORT=3002
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here
GREENPAY_CLIENT_ID=118206
GREENPAY_API_PASSWORD=ap8av5ku8gx
GREENPAY_API_URL=https://api.greenpay.com
DATABASE_PATH=./database.sqlite
